Welcome to python 3

Time of excution of the script `

In [6]:
%%timeit
for i in range(10000):
    i*i

1.83 ms ± 464 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [7]:
print('''
Today is a lovely day.
It will be warm and sunny.
It is ideal for hiking.
''')

Today is a lovely day.
It will be warm and sunny.
It is ideal for hiking.

In [14]:
a=5
b=8
print("you have got {} and {} :) ".format(a,b))

you have got 5 and 8 :)

In [11]:
weight=4.5
name="Simi"
print("The weight of {} is {}".format(name,weight))

The weight of Simi is 4.5

In [15]:
print("The integer equivalent of",True,"is",1)

The integer equivalent of True is 1

In [16]:
N="Nader"
print("My Name is ",N)

My Name is  Nader

In [17]:
x=91.234567
print("The value of x upto 3 decimal points is {:.3f}".format(x))

The value of x upto 3 decimal points is 91.235

In [18]:
y='Jack'
x='Jill'
print("{1} and {0} went up the hill to fetch a pail of water".format(x,y))

Jack and Jill went up the hill to fetch a pail of water

In [20]:
x='Nader'
y='Ahmed'
print('{0} he is friend of {1}'.format(x,y))

Nader he is friend of Ahmed

# input

In [22]:
inp=int(input("Hey Man you are "))

Hey Man you are years old18

In [23]:
age=input("Enter your age:")
print("In 2010, you were",int(age)-10,"years old")

Enter your age:21
In 2010, you were 11 years old

identity Operators is & Not is

In [27]:
x=3
y=x
z=y
x is z

True

Membership operators (in and not in)

In [31]:
c='N'
C="Nader"
c in C

True

Data Type ..

In [32]:
type(2.58)

float

In [33]:
import datetime
date=datetime.date(year=1995,month=1,day=1)
print(date)

1995-01-01

In [35]:
#Parameter are mandatory
myDate=datetime.date(year=2000,month=2,day=1)
print(myDate)

2000-02-01

In [39]:
#Parameter are not mandatory
time=datetime.time(hour=10,minute=29,second=5,microsecond=0)
print("midnight:",time)

midnight: 10:29:05

The date arguments – day, month, and 
year – are mandatory, but the time argument (like hour, minute, etc.) can be skipped

In [44]:
myDataTime=datetime.datetime(year=2000,month=2,day=1,hour=1,minute=29,second=5)

In [45]:
print("2st feb 2000 midnight",myDataTime)

2st feb 2000 midnight 2000-02-01 01:29:05

In [55]:
string="Hello"
print("length of string is ",len(string))
print("Accessing individual elements in string is ",string[4])
print("Slicing string is ",string[::2])
print("Slicing reversing string ",string[::-1])

length of string is  5
Accessing individual elements in string is  o
Slicing string is  Hlo
Slicing reversing string  olleH

In [26]:
def square(n):
    return n*n
my_list = [2,3,4,5,6,7,8,9]
updated_list = map(square, my_list)
print(updated_list)
print(list(updated_list))

<map object at 0x000002D26D50AEB0>
[4, 9, 16, 25, 36, 49, 64, 81]