<div class="alert alert-block alert-info">
<b>Hey:</b>This is A summary of python basics for A Python Data Analyst’s Toolkit book. 
</div>

Time of excution of the script `

In [6]:
%%timeit
for i in range(10000):
    i*i

1.83 ms ± 464 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [7]:
print('''
Today is a lovely day.
It will be warm and sunny.
It is ideal for hiking.
''')

Today is a lovely day.
It will be warm and sunny.
It is ideal for hiking.

In [14]:
a=5
b=8
print("you have got {} and {} :) ".format(a,b))

you have got 5 and 8 :)

In [11]:
weight=4.5
name="Simi"
print("The weight of {} is {}".format(name,weight))

The weight of Simi is 4.5

In [15]:
print("The integer equivalent of",True,"is",1)

The integer equivalent of True is 1

In [16]:
N="Nader"
print("My Name is ",N)

My Name is  Nader

In [17]:
x=91.234567
print("The value of x upto 3 decimal points is {:.3f}".format(x))

The value of x upto 3 decimal points is 91.235

In [18]:
y='Jack'
x='Jill'
print("{1} and {0} went up the hill to fetch a pail of water".format(x,y))

Jack and Jill went up the hill to fetch a pail of water

In [20]:
x='Nader'
y='Ahmed'
print('{0} he is friend of {1}'.format(x,y))

Nader he is friend of Ahmed

# input

In [22]:
inp=int(input("Hey Man you are "))

Hey Man you are years old18

In [23]:
age=input("Enter your age:")
print("In 2010, you were",int(age)-10,"years old")

Enter your age:21
In 2010, you were 11 years old

identity Operators is & Not is

In [27]:
x=3
y=x
z=y
x is z

True

Membership operators (in and not in)

In [31]:
c='N'
C="Nader"
c in C

True

Data Type ..

In [32]:
type(2.58)

float

In [33]:
import datetime
date=datetime.date(year=1995,month=1,day=1)
print(date)

1995-01-01

In [35]:
#Parameter are mandatory
myDate=datetime.date(year=2000,month=2,day=1)
print(myDate)

2000-02-01

In [39]:
#Parameter are not mandatory
time=datetime.time(hour=10,minute=29,second=5,microsecond=0)
print("midnight:",time)

midnight: 10:29:05

1.The date arguments – day, month, and year 
2.are mandatory, but the time argument (like hour, minute, etc.) can be skipped

In [44]:
myDataTime=datetime.datetime(year=2000,month=2,day=1,hour=1,minute=29,second=5)

In [45]:
print("2st feb 2000 midnight",myDataTime)

2st feb 2000 midnight 2000-02-01 01:29:05

In [55]:
string="Hello"
print("length of string is ",len(string))
print("Accessing individual elements in string is ",string[4])
print("Slicing string is ",string[::2])
print("Slicing reversing string ",string[::-1])

length of string is  5
Accessing individual elements in string is  o
Slicing string is  Hlo
Slicing reversing string  olleH

In [1]:
#Justification 
'123'.rjust(5,"*")

'**123'

In [5]:
ids=[1,2,10,100,3000]
for i in ids :
    print(str(i).rjust(4,'0'))

0001
0002
0010
0100
3000

In [6]:
#Join List of String 
' '.join(['Python','is','easy','to','learn'])

'Python is easy to learn'

In [8]:
#Split It breaks down a string into a list of individual words and returns
'Python is easy to learn'.split()

['Python', 'is', 'easy', 'to', 'learn']

In [9]:
"Try".split()

['Try']

Conditional Statements

In [13]:
color=input('Enter one of the following colors - red, orange or blue:')
if color=='red':
    print('Your favorite color is red')
elif color=='orange':
    print('Your favorite color is orange')
elif color=='blue':
    print('Your favorite color is blue')
else:
    print("You entered the wrong color")

Enter one of the following colors - red, orange or blue:blue
Your favorite color is blue

In [15]:
#for loop
sum=0
for i in range(1,10,2):
    sum=sum+i
print(sum)

25

In [5]:
#Nested loop
for i in 'abcd':
    for j in range(4):
        print(i,end=" ")
    print("\n")

a a a a

b b b b

c c c c

d d d d

Lambda Function

In [6]:
(lambda x,y:(x+y))(5,4)

9

In [7]:
def Sum(x,y):
    return x+y
Sum(3,8)

11

In [8]:
x = lambda a : a + 10
print(x(5))

15

In [9]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [10]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [10]:
#Generate Random list 
import random
rand_list=random.sample(range(0,30),6)
rand_list

[27, 0, 29, 3, 23, 16]

In [13]:
#Generate list consists of 6 Nubers in range 8 [0:7]
import random
rand_list2=random.sample(range(8),6)
rand_list2

[3, 5, 7, 2, 0, 6]

List comprehension

In [2]:
L=[i for i in range(5)]
print(L)

[0, 1, 2, 3, 4]

In [4]:
b=[i*3 for i in range(8)]
print(b)

[0, 3, 6, 9, 12, 15, 18, 21]

In [7]:
Y=[i*i for i in range(9) if(i%2==0)]
Y

[0, 4, 16, 36, 64]

In [11]:
a=int(input("enter the value of a "))
b=int(input('enter the value of b '))
print("Both of them are equal" if a==b else "a is greater than b " if a > b else "b is greater than a")

enter the value of a 15
enter the value of b 12
a is greater than b

In [13]:
#<<on True >> if <<Expression>> else <<On False>>
a,b=10,12
Min= a if a<b else b
Min

10

In [14]:
while True:
    try:
        n=int(input('Enter your score:'))
        print('You obtained a score of ',n)
        break
    except ValueError:
        print('Enter only an integer value !')

Enter your score:5
You obtained a score of  5

In [26]:
def square(n):
    return n*n
my_list = [2,3,4,5,6,7,8,9]
updated_list = map(square, my_list)
print(updated_list)
print(list(updated_list))

<map object at 0x000002D26D50AEB0>
[4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
mytuple=1,4,6,7
x,y,z,m=mytuple
print(x,y,z,m)

1 4 6 7

In [1]:
#Some Exercises
x=True
y=False
z=True
x+y+z

2

Calculate the factorial of numbers from 1 to 5

In [29]:
for i in range(1,6):
    fact=1
    for j in range(1,i+1):
        fact=fact*j
print("Factorial of number ",i," is:",fact)

Factorial of number  5  is: 120

In [26]:
#Note The id function returns the memory address of an object
str1="Hello"
str2=str1
id(str1)==id(str2)  #  Both the strings have the same value and memory address

True

Convert the string “123-456-7890” into the format “1234567890”.

In [25]:
"".join(list("123-456-7890".split("-")))

'1234567890'

In [28]:
l=range(6)
for i in l[::-1]:
    print("*"*i)
print("\n")

*****
****
***
**
*